<div class="main-content app-content">
    <div class="container-fluid">
        <div class="card w-100 shadow-xss rounded-xxl border-0 p-2">
            <div *ngIf="collaboration" class="card-body">
                <div class="row gy-4">
                    <mat-form-field class="col-xl-6">
                        <mat-label>Title</mat-label>
                        <input [(ngModel)]="collaboration.title" matInput required
                            placeholder="A catchy and concise title for your collaboration." maxlength="100">
                    </mat-form-field>

                    <mat-form-field class="col-xl-6">
                        <mat-label>Category</mat-label>
                        <mat-select required [(ngModel)]="collaboration.collaborationCategoryId">
                          @for (group of categories; track group) {
                            <mat-optgroup [label]="group.name">
                              @for (category of group.children; track category) {
                                <mat-option [value]="category.id">{{category.name}}</mat-option>
                              }
                            </mat-optgroup>
                          }
                        </mat-select>
                      </mat-form-field>

                    <mat-form-field class="col-xl-12">
                        <mat-label>Description</mat-label>
                        <textarea class="accept-breakline" rows="3" matInput required [(ngModel)]="collaboration.description"
                            placeholder="Elaborate on your proposal, providing details and explaining its uniqueness."
                            maxlength="2000"></textarea>
                        <label class="counter">{{collaboration.description ? collaboration.description.length : 0}}/2000</label>
                    </mat-form-field>

                    <mat-form-field class="col-xl-12">
                        <mat-label>Working Experience</mat-label>
                        <textarea class="accept-breakline" rows="3" required matInput [(ngModel)]="collaboration.workingExperience"
                            placeholder="Outline skills and competencies in this proposal."
                            maxlength="2000"></textarea>
                        <label class="counter">{{collaboration.workingExperience ? collaboration.workingExperience.length :
                            0}}/2000</label>
                    </mat-form-field>

                    <mat-form-field class="col-xl-6">
                        <mat-label>Vacancies</mat-label>
                        <input [(ngModel)]="collaboration.vacacies" required matInput type="number"
                            placeholder="Number of vacancies available." min="1">
                    </mat-form-field>

                    <mat-form-field class="col-xl-6">
                        <mat-label>Payment</mat-label>
                        <input [(ngModel)]="collaboration.salary" required matInput
                            placeholder="How much and how you will pay. (eg: $1,000 week)." min="5">
                    </mat-form-field>

                    <mat-form-field class="col-xl-6">
                        <mat-label>Deadline</mat-label>
                        <input readonly matInput [min]="minDate" required [matDatepicker]="picker" [(ngModel)]="collaboration.deadline" required placeholder="Deadline">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-xl-6">
                        <mat-label>Skills</mat-label>
                        <mat-chip-grid #chipGrid aria-label="Skill" required>
                            @for (skill of collaboration.skills; track skill; let i = $index) {
                            <mat-chip-row (removed)="removeTag(skill, i)" [removable]="true" [editable]="false">
                                {{skill.originalTag}}
                                <button matChipRemove [attr.aria-label]="'remove ' + skill.originalTag">
                                    <i class="bi bi-x" style="margin-top: 5px;"></i>
                                </button>
                            </mat-chip-row>
                            }
                            <input placeholder="New Skill..." [matChipInputFor]="chipGrid"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="addTag($event)" />
                        </mat-chip-grid>
                    </mat-form-field>

                    <div class="col-xl-12">
                        <button (click)="add()" type="button" class="w-100 btn btn-primary" [disabled]="validate()"
                            mat-raised-button>{{!collaboration.id ? 'Add New Collaboration' : 'Save Collaboration'}}</button>
                    </div>

                    <table mat-table [dataSource]="collaborations" class="col-xl-12 mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="title" style="width: 30%;">
                          <th mat-header-cell *matHeaderCellDef> Title </th>
                          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="vacacies" style="width: 10%;">
                          <th mat-header-cell *matHeaderCellDef> Vacacies </th>
                          <td mat-cell *matCellDef="let element"> {{element.vacacies}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="salary" style="width: 20%;">
                          <th mat-header-cell *matHeaderCellDef> Salary </th>
                          <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="deadline" style="width: 10%; text-align: center;">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Deadline </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.deadline | date: dateFormat}} </td>
                        </ng-container>

                        <ng-container matColumnDef="edit" style="width: 10%;">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Edit </th>
                            <td mat-cell *matCellDef="let element"> <button style="width: 100%;" mat-raised-button (click)="selectCollaboration(element)">Edit</button> </td>
                        </ng-container>

                        <ng-container matColumnDef="applications" style="width: 10%;">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Applications </th>
                            <td mat-cell *matCellDef="let element"> <button style="width: 100%;" mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#applyModal" (click)="openApplications(element)">Applications</button> </td>
                        </ng-container>

                        <ng-container matColumnDef="delete" style="width: 10%; text-align: center">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Delete </th>
                            <td mat-cell *matCellDef="let element"> <button style="width: 100%;" mat-raised-button color="warn" (click)="delete(element)">Delete</button> </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h2 class="modal-title d-flex align-items-center" style="margin-top: auto; margin-bottom: auto;">Applications</h2>
                <button type="button" id="btnCloseModalApplication" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gy-0 p-2">
                    <table *ngIf="collaborationApplication" mat-table [dataSource]="collaborationApplication.requests" class="col-xl-12 mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="contact" style="width: 40%;">
                          <th mat-header-cell *matHeaderCellDef> Contact </th>
                          <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                        </ng-container>

                        <ng-container matColumnDef="openCV" style="width: 20%;">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> CV </th>
                            <td mat-cell *matCellDef="let element"> <a style="width: 100%;" mat-raised-button [href]="getCVPath(element)" target="_blank">CV</a> </td>
                        </ng-container>

                        <ng-container matColumnDef="decline" style="width: 20%; text-align: center">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Reject </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;"> <button *ngIf="element.status=='Reviewing'" style="width: 100%;" mat-raised-button color="warn" (click)="changeStatus(element, 'Rejected')">Reject</button> <label *ngIf="element.status=='Rejected'">Rejected!</label></td>
                        </ng-container>

                        <ng-container matColumnDef="apply" style="width: 20%; text-align: center">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Approve </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;"> <button *ngIf="element.status=='Reviewing'" style="width: 100%;" mat-raised-button color="primary" (click)="changeStatus(element, 'Approved')">Approve</button> <label *ngIf="element.status=='Approved'">Approved!</label></td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsApplication"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsApplication;"></tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>