<!-- loader wrapper -->
<div *ngIf="loadingBars" class="preloader-wrap p-3">
    <div class="box shimmer">
        <div class="lines">
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
        </div>
    </div>
    <div class="box shimmer mb-3">
        <div class="lines">
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
        </div>
    </div>
    <div class="box shimmer">
        <div class="lines">
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
        </div>
    </div>
</div>
<!-- loader wrapper -->

<!-- Start::app-content -->
<div *ngIf="user && panel && panel.post" class="main-content app-content">
    <div class="container-fluid">

        <div class="row">
            <app-post [user]="profile" [panel]="panel" [showButtons]="true" [showPanelDetail]="panel && panel.post && panel.post.article ? false : true" [articleReadingMore]="false"
            class="col-equal m-auto-100 col-12"></app-post>

            <div class="col-12 p-2 pt-0">
                <div class="card w-100 shadow-xss rounded-xxl border-0 p-2" style="height: 100%;">
                    <div class="card-body">
                        <app-showcase [titleCategoryDescription]="true" [implementationPlanTagsChallenges]="true" [panel]="panel"></app-showcase>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>