a {
    color: black;
    font-size: 8px;
    font-weight: lighter;
    padding: 5px;
}

.vertical-middle {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-wrap: wrap !important;
}

.mt-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.absolute {
    position: absolute;
}