<!-- app-header -->
<header class="app-header" style="padding-left: 10px !important;">

    <!-- Start::main-header-container -->
    <div class="main-header-container container-fluid">

      <!-- Start::header-content-left -->
      <div class="header-content-left">
        <a style="cursor: pointer;" [routerLink]="['/']" (click)="me()" class="me-1 align-middle " style="width: 50px; min-width: 50px;">
          <img class="endorse-logo" src="../../../assets/images/logo.svg" alt="Endorse">
        </a>

        <a [routerLink]="['/' + profile.username]" (click)="openProfile(profile)" class="profile pointer" *ngIf="profile">
          <label class="fs-16 background-default">
            {{profile.username}}
          </label>
        </a>
        <label class="bar" *ngIf="profile && idea">/</label>
        <a [routerLink]="['/' + profile.username + '/' + idea.link]" class="idea pointer" *ngIf="profile && idea">
          <label class="fs-16 background-default">
            {{idea.link}}
          </label>
        </a>
      </div>
      <!-- End::header-content-left -->

      <div class="header-element header-search" [ngClass]="isSearching ? 'search-full' : 'header-search-small-screen'"
        style="width: 100%;">
        <input #searchBar id="searchBar" [(ngModel)]="searchText" (ngModelChange)="search()" type="text"
          class="header-search-bar form-control border-0 bg-body" placeholder="Search..."
          style="width: 100%; height: 43px; margin-right: -9px;" data-bs-toggle="dropdown" data-bs-auto-close="outside"
          aria-expanded="false" aria-haspopup="true">
       
        <ul id="searchDropdown"
          class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end no-padding dropdown-search"
          aria-labelledby="search">
          <li *ngFor="let searchResultItem of searchResult" style="cursor: pointer;" [routerLink]="['/' + searchResultItem.username]" (click)="selectUserSearch(searchResultItem); closeDropdowns(); openProfile(searchResultItem)" class="dropdown-item d-flex align-items-center">
            <img [src]="getProfilePicture(searchResultItem) | image | async"
                class="d-flex align-items-center avatar avatar-sm avatar-rounded" />
                <label style="padding-left: 15px; font-size: larger; padding-top: 10px;">{{getName(searchResultItem)}}</label>
          </li>

          <div *ngIf="searchResult.length==0" style="width: 100%; height: 100px;">
            My hisoric goes here!
          </div>
        </ul>

        <div id="justADivOutside"></div>
      </div>

      <!-- Start::header-content-right -->
      <ul class="header-content-right" style="padding-left: 15px !important" *ngIf="!isSearching">
        <li class="header-element search-button-small-screem">
          <a class="header-link dropdown-toggle tooltiptag" (click)="searchActive()" style="cursor: pointer;">
            <i class="bi bi-search header-link-icon"></i>
            <span class="tooltiptext">Search</span>
          </a>
        </li>

        <app-new-post [user]="user" [asHeaderButton]="true" class="header-element"></app-new-post>

        <li class="header-element notifications-dropdown ">
          <!-- Start::header-link|dropdown-toggle -->
          <a href="javascript:void(0);" class="header-link dropdown-toggle tooltiptag" data-bs-toggle="dropdown"
            data-bs-auto-close="outside" id="messageDropdown" aria-expanded="false">
            <i class="bi bi-bell-fill header-link-icon"></i>
            <span class="tooltiptext">Notifications</span>
            <span class="header-icon-pulse bg-secondary rounded pulse pulse-secondary"></span>
          </a>
          <!-- End::header-link|dropdown-toggle -->
          <!-- Start::main-header-dropdown -->
          <div class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
            <div class="p-3">
              <div class="d-flex align-items-center justify-content-between">
                <p class="mb-0 fs-16">Notifications</p>
                <span class="badge bg-secondary-transparent" id="notifiation-data">5 Unread</span>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled mb-0" id="header-notification-scroll">
              <li class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="pe-2 lh-1">
                    <span class="avatar avatar-rounded">
                      <img src="../../../assets/images/logo.svg" alt="">
                    </span>
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div>
                      <p class="mb-0 fw-medium"><a href="notifications.html">John Doe</a></p>
                      <span class="text-muted fw-normal fs-12 header-notification-text">Hey
                        there! What's up?</span>
                    </div>
                    <div>
                      <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i
                          class="ti ti-x fs-16"></i></a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="pe-2 lh-1">
                    <span class="avatar bg-secondary-transparent avatar-rounded">
                      <img src="../../../assets/images/logo.svg" alt="">
                    </span>
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div>
                      <p class="mb-0 fw-medium"><a href="notifications.html">Customer
                          Support</a></p>
                      <span class="text-muted fw-normal fs-12 header-notification-text">Great
                        job on resolving the issue! Thank you!</span>
                    </div>
                    <div>
                      <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i
                          class="ti ti-x"></i></a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="pe-2 lh-1">
                    <span class="avatar bg-pink-transparent avatar-rounded">
                      <img src="../../../assets/images/logo.svg" alt="">
                    </span>
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div>
                      <p class="mb-0 fw-medium"><a href="notifications.html">Digital Marketing
                          Trends</a></p>
                      <span class="text-muted fw-normal fs-12 header-notification-text">Next
                        Thursday at 2:30 PM</span>
                    </div>
                    <div>
                      <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i
                          class="ti ti-x"></i></a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="pe-2 lh-1">
                    <span class="avatar bg-danger-transparent avatar-rounded"><i
                        class="ti ti-circle-check fs-18"></i></span>
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div>
                      <p class="mb-0 fw-medium"><a href="notifications.html">Amount: $50.00
                          paid for the order</a></p>
                      <span class="text-muted fw-normal fs-12 header-notification-text">Transaction
                        ID: 123456789</span>
                    </div>
                    <div>
                      <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i
                          class="ti ti-x"></i></a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown-item">
                <div class="d-flex align-items-center">
                  <div class="pe-2 lh-1">
                    <span class="avatar bg-success-transparent avatar-rounded">
                      <img src="../../../assets/images/logo.svg" alt="">
                    </span>
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center justify-content-between">
                    <div>
                      <p class="mb-0 fw-medium"><a href="notifications.html">Samantha</a></p>
                      <span class="text-muted fw-normal fs-12 header-notification-text">Would
                        you like to connect?</span>
                    </div>
                    <div>
                      <a href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i
                          class="ti ti-x"></i></a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="p-3 empty-header-item1 border-top">
              <div class="text-center">
                <a href="notifications.html" class="link-primary text-decoration-underline">View
                  All</a>
              </div>
            </div>
            <div class="p-5 empty-item1 d-none">
              <div class="text-center">
                <span class="avatar avatar-xl avatar-rounded bg-secondary-transparent">
                  <i class="ri-notification-off-line fs-2"></i>
                </span>
                <h6 class="fw-medium mt-3">No New Notifications</h6>
              </div>
            </div>
          </div>
          <!-- End::main-header-dropdown -->
        </li>
        <!-- End::header-element -->

        <!-- Start::header-element -->
        <li class="dropdown header-element">
          <!-- Start::header-link|dropdown-toggle -->
          <a href="#" class="header-link dropdown-toggle min-picture" style="min-width: 50px;" id="mainHeaderProfile"
            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true">
            <img #folderProfilePicture [src]="profilePicture | image | async" alt="img"
              class="d-flex align-items-center avatar avatar-sm avatar-rounded size-picture">
          </a>
          <!-- End::header-link|dropdown-toggle -->
          <ul id="mainHeaderProfileDropdown"
            class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end"
            aria-labelledby="mainHeaderProfile">
            <li><a class="dropdown-item d-flex align-items-center color-black" style="cursor: pointer;"
                [routerLink]="['/' + user.username + '/']" (click)="closeDropdowns(); openProfile(user)"><i
                  class="bi bi-person fs-18 me-2 op-7"></i>Profile</a></li>
            <li><a class="dropdown-item d-flex align-items-center color-black" style="cursor: pointer;"
                [routerLink]="['tasks']" (click)="closeDropdowns()"><i
                  class="bi bi-check-square fs-16 me-2 op-7"></i>Task Manager</a>
            </li>
            <li><a class="dropdown-item d-flex align-items-center color-black" style="cursor: pointer;"
                [routerLink]="['settings']" (click)="closeDropdowns()"><i
                  class="bi bi-gear fs-16 me-2 op-7"></i>Settings</a></li>
            <li><a class="dropdown-item d-flex align-items-center color-black" style="cursor: pointer;"
              [routerLink]="['support']" (click)="closeDropdowns()"><i
                class="bi bi-headset fs-18 me-2 op-7"></i>Support</a></li>
                  
            <li>
              <a style="cursor: pointer;" [routerLink]="['terms-conditions']"
                class="dropdown-item d-flex align-items-center color-black" (click)="closeDropdowns()">
                <i class="bi bi-vector-pen fs-18 me-2 op-7"></i>Terms & Conditions
              </a>
            </li>

            <li>
              <a style="cursor: pointer;" [routerLink]="['faq']"
                class="dropdown-item d-flex align-items-center color-black" (click)="closeDropdowns()">
                <i class="bi bi-patch-question fs-18 me-2 op-7"></i>FAQ's
              </a>
            </li>
            <li><a class="dropdown-item d-flex align-items-center color-black" (click)="logout()" style="cursor: pointer;"><i
                  class="bi bi-box-arrow-right fs-18 me-2 op-7"></i>Logout</a></li>
          </ul>
        </li>
        <!-- End::header-element -->

      </ul>
      <!-- End::header-content-right -->

    </div>
    <!-- End::main-header-container -->

    <div *ngIf="profile && idea" class="main-header-container container-fluid">
      <ul class="nav nav-tabs mb-0 tab-style-6 justify-content-start secound-header" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" [routerLink]="['/' + profile.username + '/' + idea.link]" type="button" [ngClass]="isActive('') ? 'active': ''">
              <i class="bi bi-house-fill me-1 align-middle d-inline-block"></i>&nbsp;Idea Home
            </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [routerLink]="['/' + profile.username + '/' + idea.link + '/idea-showcase']" type="button" [ngClass]="isActive('/idea-showcase') ? 'active': ''">
            <i class="bi bi-lightbulb-fill me-1 align-middle d-inline-block"></i>&nbsp;Idea Showcase
          </button>
      </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [routerLink]="['/' + profile.username + '/' + idea.link + '/collaboration']" type="button" [ngClass]="isActive('/collaboration') ? 'active': ''">
              <i class="bi bi-people-fill me-1 align-middle d-inline-block"></i>&nbsp;Collaboration</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [routerLink]="['/' + profile.username + '/' + idea.link + '/legal-copyright']" type="button" [ngClass]="isActive('/legal-copyright') ? 'active': ''">
              <i class="bi bi-c-circle-fill me-1 align-middle d-inline-block"></i>&nbsp;Legal and Copyright</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [routerLink]="['/' + profile.username + '/' + idea.link + '/discussions']" type="button" [ngClass]="isActive('/discussions') ? 'active': ''">
              <i class="bi bi-chat-text-fill me-1 align-middle d-inline-block"></i>&nbsp;Discussions</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [routerLink]="['/' + profile.username + '/' + idea.link + '/feedback']" type="button" [ngClass]="isActive('/feedback') ? 'active': ''">
              <i class="bi bi-calendar2-plus-fill me-1 align-middle d-inline-block"></i>&nbsp;Feedback</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [routerLink]="['/' + profile.username + '/' + idea.link + '/timeline']" type="button" [ngClass]="isActive('/timeline') ? 'active': ''">
            <i class="bi bi-calendar2-plus-fill me-1 align-middle d-inline-block"></i>&nbsp;Timeline</button>
      </li>
    </ul>
    </div>
  </header>
  <!-- /app-header -->

  <div class="modal fade" id="header-responsive-search" tabindex="-1" aria-labelledby="header-responsive-search"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control border-end-0" placeholder="Search Anything ..."
              aria-label="Search Anything ..." aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
