<section id="loginComponent" class="fxt-template-animation fxt-template-layout36">
  <div class="fxt-content-wrap">
    <div class="fxt-heading-content">
      <div id="videoBackgroundLogin" class="fxt-video-background">
        <div class="fxt-video">
          <div id="fxtVideoLogin" data-property="{
                      videoURL:'UMwAYg_LIcQ', 
                      autoPlay:true, 
                      mute:true, 
                      loop:true, 
                      startAt:0,
                      opacity:1, 
                      quality:'default', 
                      showControls:false, 
                      optimizeDisplay:true,
                      containment:'#videoBackgroundLogin'
                  }">
          </div>
        </div>
      </div>
      <div class="fxt-inner-wrap">
        <div class="fxt-transformX-R-50 fxt-transition-delay-10">
          <a href="login-33.html" class="fxt-logo"><img src="./../../../assets/images/logo-large.svg" alt="Logo"></a>
        </div>
        <div class="fxt-transformX-R-50 fxt-transition-delay-10">
          <div class="fxt-middle-content">
            <p class="fxt-description">Endorse is a groundbreaking digital platform designed to revolutionize the way
              companies collaborate on creative projects.</p>
            <p class="fxt-description">Our platform serves as a seamless bridge for businesses seeking copyrights for
              ideas, products, or services, fostering a new era of efficient and transparent collaboration.</p>
          </div>
        </div>
        <div class="fxt-transformX-R-50 fxt-transition-delay-10">
          <div class="d-flex align-items-center flex-wrap justify-content-between">
            <ul class="fxt-socials">
              <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-9">
                <a href="#" title="Facebook"><i class="bi bi-facebook"></i></a>
              </li>
              <li class="fxt-instagram fxt-transformY-50 fxt-transition-delay-10">
                <a href="#" title="Instagram"><i class="bi bi-instagram"></i></a>
              </li>
              <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-11">
                <a href="#" title="twitter"><i class="bi bi-twitter"></i></a>
              </li>
              <li class="fxt-linkedin fxt-transformY-50 fxt-transition-delay-12">
                <a href="#" title="linkedin"><i class="bi bi-linkedin"></i></a>
              </li>
            </ul>
            <div class="fxt-copyright-text">Copyright © {{year}} Endorse. All Rights Reserved</div>
          </div>
        </div>
      </div>
    </div>
    <div class="fxt-form-content">
      <div class="fxt-main-form">
        <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13" style="max-width: 450px;">

          <div>

            <!-- Form -->

            <div class="fxt-form-step">
              <div *ngIf="!emailValidated" class="fxt-form">
                <form [formGroup]="form" (ngSubmit)="sendConfirmation()">
                  <h2 class="fxt-page-title">Confirm E-mail</h2>

                  <div class="form-group">
                    <input id="email" type="email" class="form-control" formControlName="email" name="email"
                      placeholder="Email">
                  </div>

                  <div class="form-group">
                    <button type="submit" class="fxt-btn-fill-login">Send Confirmation</button>
                  </div>

                  <br />
                  <div class="fxt-transformX-L-50 fxt-transition-delay-5">
                    <div class="fxt-middle-content" style="text-align: center;">
                      <div class="fxt-switcher-description1" style="text-align: center;">If you remembered your
                        password, <a style="cursor: pointer;" (click)="reloadComponent(false, '/login')" class="fxt-switcher-text">Login</a> here
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="emailValidated" class="fxt-form">
                <form [formGroup]="formConfirmed" (ngSubmit)="sendConfirmation()">
                  <h2 class="fxt-page-title">Confirm E-mail</h2>

                  <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" name="email"
                      placeholder="Email">
                  </div>

                  <div class="form-group position-relative">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password"
                      name="password" placeholder="New Password">
                    <a class="show-password-button text-muted" (click)="showHidePassword()" id="button-addon2"><i
                        class="align-middle" [ngClass]="showPassword ? 'ri-eye-line' : 'ri-eye-off-line'"></i></a>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="fxt-btn-fill-login">Send Confirmation</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>