
    <!-- Start::app-content -->
    <div class="main-content app-content">
        <div class="container-fluid">
            <!-- Start::row-1 -->
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="card custom-card overflow-hidden">
                        <div *ngIf="privacyPolicy" class="card-body p-5">
                            <div class="text-center text-primary h5 fw-medium mb-5">{{privacyPolicy.name}}
                            </div>
                            <div [innerHTML]="privacyPolicy.text">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End::row-1 -->

        </div>
    </div>
    <!-- End::app-content -->
