<section id="signupComponent" class="fxt-template-animation fxt-template-layout36">
  <div class="fxt-content-wrap">
    <div class="fxt-heading-content">
      <div id="videoBackgroundSignup" class="fxt-video-background">
        <div class="fxt-video">
          <video src="./../../../assets/videos/background.mp4" autoplay loop
            style="width: 100%; height: 100%; object-fit: cover;"></video>
        </div>
      </div>
      <div class="fxt-inner-wrap">
        <div class="fxt-transformX-R-50 fxt-transition-delay-10">
          <a href="login-33.html" class="fxt-logo"><img src="./../../../assets/images/logo-large.svg" alt="Logo"></a>
        </div>
        <div class="fxt-transformX-R-50 fxt-transition-delay-10">
          <div class="fxt-middle-content">
            <p class="fxt-description">Endorse is a groundbreaking digital platform designed to revolutionize the way
              companies collaborate on creative projects.</p>
            <p class="fxt-description">Our platform serves as a seamless bridge for businesses seeking copyrights for
              ideas, products, or services, fostering a new era of efficient and transparent collaboration.</p>
          </div>
        </div>
        <div class="fxt-transformX-R-50 fxt-transition-delay-10">
          <div class="d-flex align-items-center flex-wrap justify-content-between">
            <ul class="fxt-socials">
              <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-9">
                <a href="#" title="Facebook"><i class="bi bi-facebook"></i></a>
              </li>
              <li class="fxt-instagram fxt-transformY-50 fxt-transition-delay-10">
                <a href="#" title="Instagram"><i class="bi bi-instagram"></i></a>
              </li>
              <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-11">
                <a href="#" title="twitter"><i class="bi bi-twitter"></i></a>
              </li>
              <li class="fxt-linkedin fxt-transformY-50 fxt-transition-delay-12">
                <a href="#" title="linkedin"><i class="bi bi-linkedin"></i></a>
              </li>
            </ul>
            <div class="fxt-copyright-text">Copyright © {{year}} Endorse. All Rights Reserved</div>
          </div>
        </div>
      </div>
    </div>
    <div class="fxt-form-content">
      <div class="fxt-main-form">
        <div class="fxt-inner-wrap fxt-opacity fxt-transition-delay-13" style="max-width: 450px;">

          <div>
            <h2 class="fxt-page-title">Sign up</h2>

            <!-- Progressbar -->
            <div class="mb-2 d-grid">
              <!-- <div class="fxt-steps">
                <span class="fxt-current-step"></span> of
                <span class="fxt-total-step"></span> steps
              </div> -->
              <div class="progress">
                <div class="progress-bar progress-bar-solid progress-bar-animated" role="progressbar" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
            <!-- Form -->
            <form [formGroup]="formSignup" (ngSubmit)="signUp()">
              <div class="fxt-form-step">

                <mat-form-field class="form-group w-100">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput placeholder="Enter your best email." type="email" required minlength="1" maxlength="100">
                </mat-form-field>

                <mat-form-field class="form-group position-relative w-100">
                  <mat-label>Password</mat-label>
                  <a class="show-password-button text-muted" (click)="showHidePassword()"
                    style="padding-right: -20px;"><i class="align-middle"
                      [ngClass]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i></a>

                  <input formControlName="password" matInput [type]="showPassword ? 'text' : 'password'"
                    placeholder="Enter a strong password, minimum 8 characters with up and low case and a number." required minlength="8" maxlength="100">
                    
                </mat-form-field>

                <mat-form-field class="form-group position-relative w-100">
                  <mat-label>Confirm Password</mat-label>
                  <a class="show-password-button text-muted" (click)="showHidePassword()"
                    style="padding-right: -20px;"><i class="align-middle"
                      [ngClass]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i></a>
                  <input formControlName="confirmPassword" matInput placeholder="Repeat the same password." [type]="showPassword ? 'text' : 'password'" required minlength="8" maxlength="100">
                  
                </mat-form-field>

                <h3 class="fxt-page-title">I am...</h3>

                <div class="row">
                  <div class="col-6 form-group" style="padding: 3px;">
                    <div class="radio-box style-2"
                      style="min-height: 50px; padding-top: 13px ;width: 100%; text-align: center;border: 1px solid #e7e7e7;">
                      <input id="typePerson" formControlName="type" name="type" value="Person" type="radio">
                      <label for="typePerson">a person</label>
                    </div>
                  </div>
                  <div class="col-6 form-group" style="padding: 3px;">
                    <div class="radio-box style-2"
                      style="min-height: 50px; padding-top: 13px ; width: 100%; text-align: center;border: 1px solid #e7e7e7;">
                      <input id="typeCompany" formControlName="type" name="type" value="Company" type="radio">
                      <label for="typeCompany">a company</label>
                    </div>
                  </div>
                </div>

                <div *ngIf="mensagem!=''" style="text-align: center;">
                  <br />
                  <label style="color: blue; text-align: center;">{{mensagem}}</label>
                </div>
                <div *ngIf="mensagemErro!=''" style="text-align: center;">
                  <br />
                  <label style="color: red; ">{{mensagemErro}}</label>
                </div>

                <div class="form-group">
                  <div class="d-flex align-items-center gap-2 mt-5">
                    <input type="button" name="next" class="next fxt-btn-fill fxt-btn-fill-full"
                      [disabled]="step1Verify()" (click)="emailExits()" value="Next">
                  </div>
                </div>
              </div>
              <div class="fxt-form-step">
                <div *ngIf="formSignup.value.type=='Company'">
                  <mat-form-field class="form-group w-100">
                    <mat-label>Company Legally Name</mat-label>
                    <input formControlName="name" matInput placeholder="Enter the name of the company." required minlength="1" maxlength="50">
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>Industry</mat-label>
                    <mat-select typeaheadDebounceInterval="500" formControlName="industryId" required>
                      <mat-option *ngFor="let category of industries" [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>Country</mat-label>
                    <mat-select typeaheadDebounceInterval="500" formControlName="countryId" (ngModelChange)="getStates()" required>
                      <mat-option *ngFor="let c of countries" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>State</mat-label>
                    <mat-select typeaheadDebounceInterval="500" formControlName="stateId" (ngModelChange)="getCities()" required>
                      <mat-option *ngFor="let c of states" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>City</mat-label>
                    <mat-select typeaheadDebounceInterval="500" formControlName="cityId" required>
                      <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>Size</mat-label>
                    <mat-select formControlName="size" required>
                      <mat-option value="Small">Small</mat-option>
                      <mat-option value="Medium">Medium</mat-option>
                      <mat-option value="Large">Large</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>Website</mat-label>
                    <input formControlName="website" matInput required placeholder="Enter the website of your company." minlength="1" maxlength="60">
                  </mat-form-field>
                </div>

                <div *ngIf="formSignup.value.type!='Company'">
                  <mat-form-field class="form-group w-100">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Enter your first name." required minlength="1" maxlength="30">
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>Surname</mat-label>
                    <input formControlName="surname" matInput placeholder="Enter your last name." required minlength="1" maxlength="50">
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label class="no-padding">Birthday</mat-label>
                    <input class="no-padding" [max]="max" readonly matInput [matDatepicker]="picker" formControlName="birth" required placeholder="Date of birth">
                    <mat-datepicker-toggle class="no-padding" matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker class="hideDatepicker no-padding" #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                      <mat-option value="Prefer not to say">Prefer not to say</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-group w-100">
                    <mat-label>Profession</mat-label>
                    <input formControlName="profession" matInput placeholder="Enter your profession." required minlength="1" maxlength="50">
                  </mat-form-field>
                </div>

                <div *ngIf="mensagem!=''" style="text-align: center;">
                  <br />
                  <label style="color: blue; text-align: center;">{{mensagem}}</label>
                </div>
                <div *ngIf="mensagemErro!=''" style="text-align: center;">
                  <br />
                  <label style="color: red; ">{{mensagemErro}}</label>
                </div>

                <div class="form-group">
                  <div class="d-flex align-items-center gap-2 mt-5">
                    <input type="button" id="buttonBack" #buttonBack name="previous" class="previous fxt-btn-fill"
                      value="Previous Step">
                    <input type="button" name="next" class="next fxt-btn-fill" [disabled]="step2Verify()" value="Next">
                  </div>
                </div>
              </div>
              <!-- <div class="fxt-form-step">
                <div class="form-group">
                  <input formControlName="streetLine1" id="street_line_1" type="text" class="form-control"
                    name="street_line_1" placeholder="Street Line 1">
                </div>
                <div class="form-group">
                  <input formControlName="streetLine2" id="street_line_2" type="text" class="form-control"
                    name="street_line_2" placeholder="Street Line 2 (Optional)">
                </div>
                <div class="form-group">
                  <input formControlName="country" id="country" type="text" class="form-control" name="country"
                    placeholder="Country">
                </div>
                <div class="form-group">
                  <input formControlName="state" id="state" type="text" class="form-control" name="state"
                    placeholder="State">
                </div>
                <div class="form-group">
                  <input formControlName="city" id="city" type="text" class="form-control" name="city"
                    placeholder="City">
                </div>
                <div class="form-group">
                  <input formControlName="postalCode" id="postal_code" type="text" class="form-control"
                    name="postal_code" placeholder="Postal Code">
                </div>
                <div class="form-group">
                  <div class="d-flex align-items-center gap-2 mt-5">
                    <input type="button" name="previous" class="previous fxt-btn-fill" value="Previous Step">
                    <input type="button" name="next" [disabled]="step3Verify()" class="next fxt-btn-fill" value="Next">
                  </div>
                </div>
              </div> -->
              <div class="fxt-form-step">
                <div class="form-group">
                  <div class="checkbox" style="text-align: center;">
                    <input id="checkbox1" type="checkbox" formControlName="acceptTerms">
                    <label for="checkbox1">I Accept The <a [routerLink]="['/terms-conditions']" target="_blank" style="color: black;">Term Of Conditions</a> And <a
                        style="color: black;" target="_blank" [routerLink]="['/privacy-policy']">Privacy Policy</a></label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="checkbox" style="text-align: center;">
                    <input id="checkbox2" type="checkbox" formControlName="newsletter">
                    <label for="checkbox2">I want to receive newsletter from Endorse an Idea</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="checkbox" style="text-align: center;">
                    <input id="checkbox3" type="checkbox" formControlName="emailNotification">
                    <label for="checkbox3">I want to receive email notifications from Endorse an Idea</label>
                  </div>
                </div>

                <div *ngIf="mensagem!=''" style="text-align: center;">
                  <br />
                  <label style="color: blue; text-align: center;">{{mensagem}}</label>
                </div>
                <div *ngIf="mensagemErro!=''" style="text-align: center;">
                  <br />
                  <label style="color: red; ">{{mensagemErro}}</label>
                </div>

                <div class="form-group">
                  <div class="d-flex align-items-center gap-2">
                    <input type="button" name="previous" class="previous fxt-btn-fill" value="Previous Step">
                    <input type="submit" name="next" [disabled]="step4Verify()" class="fxt-btn-fill" value="Submit">
                  </div>
                </div>
              </div>
            </form>

            <br />
            <div class="fxt-transformX-L-50 fxt-transition-delay-5">
              <div class="fxt-middle-content" style="text-align: center;">
                <div class="fxt-switcher-description1" style="text-align: center;">If you have an account
                  you can <a style="cursor: pointer;" [routerLink]="['/login']"
                    class="a-link fxt-switcher-text">Login</a> here
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>