<li *ngIf="asHeaderButton" class="header-element">
  <a style="cursor: pointer;" data-bs-toggle="modal"
  data-bs-target="#postModal" (click)="clean()" class="header-link">
    <i class="bi bi-pencil-square header-link-icon"></i>
  </a>
</li>

<div *ngIf="!asHeaderButton && user" style="width: 100%;">
  <div class="card custom-card">
    <div class="card-body row">
      <div class="col-12" style="display: flex !important; justify-content: center;">
        <div style="display:inline !important; width: 50px; height: 50px;">
          <span class="avatar avatar avatar-rounded me-2">
            <img [src]="photo | image | async" alt="img">
          </span>
        </div>
        <button type="button" class="btn btn-outline-primary" style="display:inline !important; width: 100%; height: 43px;" data-bs-toggle="modal"
            data-bs-target="#postModal" (click)="clean()">
            Do you have a new idea? Post it!
        </button>
      </div>
     
      <hr *ngIf="false" style="margin-top: 10px; margin-bottom: 0px;"/>

      <div *ngIf="false" class="col-12 btn-group" role="group" style="width: 100%; max-height: 35px;">
        <button type="button" class="btn" (click)="clean(); openCamera();" title="Take a picture or select an image" data-bs-toggle="modal" data-bs-target="#postModal"><i
            class="bi bi-image text-danger fs-40 header-link-icon header-link-icon-postition"></i></button>
        <button type="button" class="btn" (click)="clean(); f.click();" title="Select a video to post" data-bs-toggle="modal" data-bs-target="#postModal"><i
            class="bi bi-camera-video text-info fs-40 header-link-icon header-link-icon-postition"></i></button>
        <button type="button" class="btn" (click)="clean(); changeToArticle();" data-bs-toggle="modal" title="Write an article" data-bs-target="#postModal"><i
            class="bi bi-card-text text-success fs-40 header-link-icon header-link-icon-postition"></i></button>
      </div>
    </div>
  </div>
</div>

<input class="ion-hide" #f type="file" (change)="selectFile($event)" id="file-input"
  accept="video/mp4,video/x-m4v,video/*">

<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h2 class="modal-title d-flex align-items-center" style="margin-top: auto; margin-bottom: auto;">My New {{article ? 'Article' : 'Idea'}}</h2>
        <button type="button" id="btnCloseModal" (click)="clean()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row gy-0">
          <mat-form-field class="col-xl-12">
            <mat-label>Idea Name</mat-label>
            <input [(ngModel)]="name" matInput placeholder="Type a unique name for your idea" required minlength="1" maxlength="50">
          </mat-form-field>

          <mat-form-field *ngIf="!article" class="col-xl-12 needs-validation">
            <mat-label>Idea</mat-label>
            <textarea [(ngModel)]="text" rows="3" matInput placeholder="Tell us your idea in 500 characters..." style="max-height: 300px; overflow-y: auto; resize: none;" required minlength="1" maxlength="500"></textarea>
          </mat-form-field>

          <div *ngIf="article" class="col-xl-12">
            <div class="form-group needs-validation">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" [(ngModel)]="title" placeholder="Title" required minlength="6" maxlength="100">
            </div>
          </div>

          <div *ngIf="article" class="col-xl-12">
            <div class="form-group needs-validation">
              <label for="subject" class="form-label">Subject</label>
              <input type="text" class="form-control" [(ngModel)]="subject" placeholder="Subject" required minlength="10" maxlength="200">
            </div>
          </div>

          <div *ngIf="article" class="col-xl-6">
            <div class="form-group needs-validation">
              <label for="author" class="form-label">Author</label>
              <input disabled type="text" class="form-control" [(ngModel)]="author" placeholder="Author" required maxlength="100">
            </div>
          </div>

          <div *ngIf="article" class="col-xl-6">
            <div class="form-group needs-validation">
              <label for="date" class="form-label">Date</label>
              <input disabled type="text" class="form-control" value="{{date | date: 'full'}}" placeholder="Date" required>
            </div>
          </div>

          <div *ngIf="article" class="col-xl-12">
            <div class="input-group needs-validation">
              <input required type="file" class="form-control" (change)="selectFileImage($event)" id="files" placeholder="Choose an image" accept="image/png, image/jpg, image/jpeg">
            </div>
          </div>

          <div *ngIf="article" class="col-xl-12">
            <quill-editor #quill format="html" [modules]="modules" placeholder="Tell us your idea..." [(ngModel)]="text" [maxLength]="10000"></quill-editor>
          </div>

          <div *ngIf="image" class="col-xl-12" style="margin-top: 10px;">
            <span class="avatar avatar-xxl me-2" style="object-fit: contain; width: 100%; height: 100%;">
              <img [src]="image | image | async" style="object-fit: contain; width: 100%; height: 100%;">
              <a (click)="removePicture()" style="cursor: pointer; inset-block-start: 0%;"
                class="badge rounded-pill bg-danger avatar-badge"><i class="fe fe-trash">x</i></a>
            </span>
          </div>
          <div *ngIf="video" class="col-xl-12" style="margin-top: 10px;">
            <span class="avatar avatar-xxl me-2" style="object-fit: contain; width: 100%; height: 100%;">
              <video controls #videoPlayer
                style="object-fit: contain; width: 100%; height: 100%;">
                <source [src]="video | image | async" type="video/mp4" />
                Browser not supported
                <a (click)="removePicture()" style="cursor: pointer; inset-block-start: 0%;"
                  class="badge rounded-pill bg-danger avatar-badge"><i class="fe fe-trash"></i></a>
              </video>
            </span>
          </div>
          <div class="col-xl-12 main-header-container container-fluid">
            <ul class="header-content-right" style="padding-top: 10px; margin-left: auto !important">
              <li class="header-element">
                <a class="header-link" (click)="openCamera()" style="cursor: pointer;">
                  <i class="bi bi-image text-danger fs-40 header-link-icon"></i>
                </a>
              </li>

              <li class="header-element">
                <a style="cursor: pointer;" (click)="f.click()" class="header-link">
                  <i class="bi bi-camera-video text-info fs-40 header-link-icon"></i>
                </a>
              </li>

              <li *ngIf="!article" class="header-element">
                <a style="cursor: pointer;" (click)="clean(); changeToArticle()" class="header-link">
                  <i class="bi bi-card-text text-info fs-40 header-link-icon"></i>
                </a>
              </li>

              <li *ngIf="article" class="header-element">
                <a style="cursor: pointer;" (click)="clean();" class="header-link">
                  <i class="bi bi-hash text-info fs-40 header-link-icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row" style="width: 100%; margin-left: 0; margin-right: 0;">
          <div class="col-6 btn-list text-start" style="padding-left: 0; margin-left: 0;">
            <button type="button" (click)="clean()" data-bs-dismiss="modal" style="cursor: pointer; min-width: 100px;"
              class="btn btn-sm btn-danger">Cancel</button>
          </div>
          <div class="col-6 btn-list text-end" style="padding-right: 0; margin-right: 0;">
            <button type="button" [disabled]="!verifyPost()" (click)="sendPost()" style="cursor: pointer; min-width: 100px;"
              class="btn btn-sm btn-primary">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>