<!-- loader wrapper -->
<div *ngIf="loading" class="preloader-wrap p-3">
  <div class="box shimmer">
    <div class="lines">
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
    </div>
  </div>
</div>
<!-- loader wrapper -->

<div *ngIf="!loading && user" style="width: 100%; height: 157px;">
  <div class="card custom-card">
    <div class="card-body row">
      <div class="col-12" style="display: flex !important; justify-content: center;">
        <div style="display:inline !important; width: 50px; height: 50px;">
          <span class="avatar avatar avatar-rounded me-2">
            <img [src]="photo | image | async" alt="img">
          </span>
        </div>
        <button type="button" class="btn btn-outline-primary" style="display:inline !important; width: 100%; height: 43px;" data-bs-toggle="modal"
            data-bs-target="#postModal" (click)="clean()">
            New Post
        </button>
      </div>
     
      <div class="col-12 btn-group" role="group" style="width: 100%; padding-top: 10px;">
        <button type="button" class="btn" (click)="clean(); openCamera();" data-bs-toggle="modal" data-bs-target="#postModal"><i
            class="bi bi-image text-danger fs-40 header-link-icon header-link-icon-postition"></i></button>
        <button type="button" class="btn" (click)="clean(); f.click();" data-bs-toggle="modal" data-bs-target="#postModal"><i
            class="bi bi-camera-video text-info fs-40 header-link-icon header-link-icon-postition"></i></button>
        <button type="button" class="btn" (click)="clean()" data-bs-toggle="modal" data-bs-target="#postModal"><i
            class="bi bi-card-text text-success fs-40 header-link-icon header-link-icon-postition"></i></button>
      </div>
    </div>
  </div>
</div>

<input class="ion-hide" #f type="file" (change)="selectFile($event)" id="file-input"
  accept="video/mp4,video/x-m4v,video/*">

<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h2 class="modal-title d-flex align-items-center" style="margin-top: auto; margin-bottom: auto;" id="postModalTitle">New Post</h2>
        <button type="button" id="btnCloseModal" (click)="clean()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row gy-0">
          <div class="col-xl-12">
            <quill-editor #quill id="quill" format="html" [modules]="modules" placeholder="Tell us your idea..." [(ngModel)]="text"></quill-editor>
          </div>
          <div *ngIf="image" id="imgContainer" class="col-xl-12" style="margin-top: 10px;">
            <span class="avatar avatar-xxl me-2" style="object-fit: contain; width: 100%; height: 100%;">
              <img id="imgPanel" [src]="image | image | async" style="object-fit: contain; width: 100%; height: 100%;">
              <a (click)="removePicture()" style="cursor: pointer; inset-block-start: 0%;"
                class="badge rounded-pill bg-danger avatar-badge"><i class="fe fe-trash"></i></a>
            </span>
          </div>
          <div *ngIf="video" id="imgContainer" class="col-xl-12" style="margin-top: 10px;">
            <span class="avatar avatar-xxl me-2" style="object-fit: contain; width: 100%; height: 100%;">
              <video controls #videoPlayer
                style="object-fit: contain; width: 100%; height: 100%;">
                <source [src]="video | image | async" type="video/mp4" />
                Browser not supported
                <a (click)="removePicture()" style="cursor: pointer; inset-block-start: 0%;"
                  class="badge rounded-pill bg-danger avatar-badge"><i class="fe fe-trash"></i></a>
              </video>
            </span>
          </div>
          <div class="col-xl-12 main-header-container container-fluid">
            <ul class="header-content-right" style="padding-top: 10px; margin-left: auto !important">
              <li class="header-element search-button-small-screem">
                <a class="header-link dropdown-toggle" (click)="openCamera()" style="cursor: pointer;">
                  <i class="bi bi-image text-danger fs-40 header-link-icon"></i>
                </a>
              </li>

              <li class="header-element">
                <a style="cursor: pointer;" (click)="f.click()" class="header-link dropdown-toggle">
                  <i class="bi bi-camera-video text-info fs-40 header-link-icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row" style="width: 100%; margin-left: 0; margin-right: 0;">
          <div class="col-6 btn-list text-start" style="padding-left: 0; margin-left: 0;">
            <button type="button" (click)="clean()" data-bs-dismiss="modal" style="cursor: pointer; min-width: 100px;"
              class="btn btn-sm btn-danger">Cancel</button>
          </div>
          <div class="col-6 btn-list text-end" style="padding-right: 0; margin-right: 0;">
            <button type="button" [disabled]="!verifyPost()" (click)="sendPost()" style="cursor: pointer; min-width: 100px;"
              class="btn btn-sm btn-primary">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>