<div class="main-content app-content">
    <div class="container-fluid">
        <div class="timeline mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="timeline-container">
                            <div class="timeline-end">
                                <span class="avatar avatar-lg bg-primary-transparent backdrop-blur text-center" style="width: 100px;">
                                    <span class="fs-13" style="width: 100px;">{{last ? (last | date: 'MMM YYYY') : 'End'}}</span>
                                </span>
                            </div>
                            <div class="timeline-continue">
                                @for (timelineObject of timeline; track timelineObject.date) {
                                    @for (history of timelineObject.history; track history.date; let i = $index) {
        
                                        <div *ngIf="i%2==0" class="row timeline-right">
                                            <div class="col-md-6">
                                                <p class="timeline-date">
                                                    {{history.date | date: 'dd MMM YYYY'}}
                                                </p>
                                                <span class="timeline-time fs-12 text-muted fw-medium d-block">
                                                    {{history.date | date: 'hh:mm'}}
                                                </span>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="timeline-box d-flex gap-3 align-items-start">
                                                    <div class="lh-1" style="padding-top: 20px;">
                                                        <span class="avatar avatar-rounded">
                                                            <img [src]="getProfilePicture(history.user) | image | async" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="timeline-text">
                                                        <h6 class="fw-medium mb-1">{{getName(history.user)}}</h6>
                                                        <p class="mb-0 text-muted" *ngIf="history.action=='Created'">The Endorsement Idea called <a [href]="getRequestUrl(history.request)" target="_blank">{{history.request.name}}</a> was<span class="badge bg-primary-transparent fw-medium mx-1">created</span>by <a [href]="getUserUrl(history.request.user)" target="_blank">{{getName(history.request.user)}}</a></p>
                                                        <p class="mb-0 text-muted" *ngIf="history.action=='New File'">The Endorsement Idea called <a [href]="getRequestUrl(history.request)" target="_blank">{{history.request.name}}</a> assigned by you has new<span class="badge bg-primary-transparent fw-medium mx-1">file</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div *ngIf="i%2==1" class="row timeline-left">
                                            <div class="col-md-6">
                                                <div class="timeline-box d-flex gap-3 align-items-start ms-md-auto">
                                                    <div class="timeline-text flex-fill">
                                                        <h6 class="fw-medium mb-1">{{getName(history.user)}}</h6>
                                                        <p class="mb-0 text-muted" *ngIf="history.action=='Created'">The Endorsement Idea called <a [href]="getRequestUrl(history.request)" target="_blank">{{history.request.name}}</a> was<span class="badge bg-primary-transparent fw-medium mx-1">created</span>by <a [href]="getUserUrl(history.request.user)" target="_blank">{{getName(history.request.user)}}</a></p>
                                                        <p class="mb-0 text-muted" *ngIf="history.action=='New File'">The Endorsement Idea called <a [href]="getRequestUrl(history.request)" target="_blank">{{history.request.name}}</a> assigned by you has new<span class="badge bg-primary-transparent fw-medium mx-1">file</span></p>
                                                    </div>
                                                    <div class="lh-1" style="padding-top: 20px;">
                                                        <span class="avatar avatar-rounded">
                                                            <img [src]="getProfilePicture(history.user) | image | async" alt="">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="timeline-date">
                                                    {{history.date | date: 'dd MMM YYYY'}}
                                                </p>
                                                <span class="timeline-time fs-12 text-muted fw-medium d-block text-start">
                                                    {{history.date | date: 'hh:mm'}}
                                                </span>
                                            </div>
                                        </div>
                                    }
        
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="timeline-year">
                                                <span class="avatar avatar-lg bg-success-transparent backdrop-blur text-center" style="width: 100px;">
                                                    <span class="fs-13" style="width: 100px;">{{timelineObject.date | date: 'MMM YYYY'}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="timeline-start">
                                <span class="avatar avatar-lg bg-warning-transparent backdrop-blur text-center" style="width: 100px;">
                                    <span class="fs-13" style="width: 100px;">{{first ? (first | date: 'MMM YYYY') : 'Start'}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>