.desktop-dark {
  height: 2.5rem !important;
}

.desktop-logo {
  height: 2.5rem !important;
}

.country-selector {
  height: 15px;
}

.header-link-icon:hover {
  color: var(--primary-color)
}

.header-element:hover {
  color: var(--primary-color)
}

.search-button-small-screem {
  display: none;
}

.logo-big-screen {
  display: block;
}

.logo-small-screen {
  display: none;
}

.profile-big-screen {
  display: block;
}

.search-full {
  margin: 0px;
  padding-left: -35px !important;
  padding-right: 30px !important;
}

.search-full-icon {
  padding-right: 15px;
}

@media (min-width: 992px) {
  .header-link-icon {
    height: 47px;
    width: 47px;
    font-size: 1.5rem;
    padding-top: 11px;
    padding-left: 12px;
  }

  .size-picture {
    height: 47px;
    width: 47px;
  }

  .min-picture {
    min-width: 80px !important;
  }
}

@media (max-width: 575.98px) {
  .header-element {
    padding: 0px;
    margin: 0px;
  }

  .header-search-small-screen {
    display: none;
  }

  .header-link-icon {
    max-height: 47px;
  }

  .main-header-container .header-element .header-link {
    padding: 0rem 0.5rem;
  }

  .search-button-small-screem {
    display: block;
  }

  .logo-big-screen {
    display: none;
  }
  
  .logo-small-screen {
    display: block;
  }

  .profile-big-screen {
    display: none;
  }

  .main-header-container .header-link {
    padding: 0 0.2rem;
  }
}

/* Tooltip text */
.tooltiptag .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltiptag .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltiptag:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}