<!-- loader wrapper -->
<div *ngIf="loadingBars" class="preloader-wrap p-3">
    <div class="box shimmer">
        <div class="lines">
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
        </div>
    </div>
    <div class="box shimmer mb-3">
        <div class="lines">
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
        </div>
    </div>
    <div class="box shimmer">
        <div class="lines">
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
        </div>
    </div>
</div>
<!-- loader wrapper -->

<!-- Start::app-content -->
<div *ngIf="post && panel" class="main-content app-content">
    <div class="container-fluid">
        <app-post [user]="user" [panel]="panel" [showButtons]="true" [showPanelDetail]="panel.post.article ? false : true" [articleReadingMore]="false"
            class="col-equal m-auto-100"></app-post>

        <div class="row">
            <div class="col-12 p-2">
                <div class="card w-100 shadow-xss rounded-xxl border-0 p-0 m-0" style="height: 100%;">
                    <div class="card-body">
                        <div
                            class="p-3 border-bottom border-block-end-dashed d-flex align-items-center justify-content-between">
                            <div>
                                <ul class="nav nav-tabs mb-0 tab-style-6 justify-content-start" id="myTab"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="showcase-tab" data-bs-toggle="tab"
                                            data-bs-target="#showcase-tab-pane" type="button" role="tab"
                                            aria-controls="showcase-tab-pane" aria-selected="false"><i
                                                class="bi bi-lightbulb-fill me-1 align-middle d-inline-block text-info"></i>&nbsp;Idea
                                            Showcase</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="collaboration-tab" data-bs-toggle="tab"
                                            data-bs-target="#collaboration-tab-pane" type="button" role="tab"
                                            aria-controls="collaboration-tab-pane" aria-selected="false"><i
                                                class="bi bi-people-fill me-1 align-middle d-inline-block text-success"></i>&nbsp;Collaboration</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="copyright-tab" data-bs-toggle="tab"
                                            data-bs-target="#copyright-tab-pane" type="button" role="tab"
                                            aria-controls="copyright-tab-pane" aria-selected="true"><i
                                                class="bi bi-c-circle-fill me-1 align-middle d-inline-block text-warning"></i>&nbsp;Legal
                                            and Copyright</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="discussions-tab" data-bs-toggle="tab"
                                            data-bs-target="#discussions-tab-pane" type="button" role="tab"
                                            aria-controls="discussions-tab-pane" aria-selected="false"><i
                                                class="bi bi-chat-text-fill me-1 align-middle d-inline-block text-info"></i>&nbsp;Discussions</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="timeline-tab" data-bs-toggle="tab"
                                            data-bs-target="#timeline-tab-pane" type="button" role="tab"
                                            aria-controls="timeline-tab-pane" aria-selected="false"><i
                                                class="bi bi-calendar2-plus-fill me-1 align-middle d-inline-block text-secondary"></i>&nbsp;Timeline</button>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p class="fw-medium mb-2">Progress</p>
                                <div class="progress progress-xs progress-animate">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane show active fade p-0 border-0" id="showcase-tab-pane" role="tabpanel"
                                    aria-labelledby="activity-tab" tabindex="0">
                                    <app-showcase></app-showcase>
                                </div>
                                <div class="tab-pane fade p-0 border-0" id="collaboration-tab-pane" role="tabpanel"
                                    aria-labelledby="posts-tab" tabindex="0">
                                    <app-collaboration></app-collaboration>
                                </div>
                                <div class="tab-pane fade p-0 border-0" id="copyright-tab-pane"
                                    role="tabpanel" aria-labelledby="followers-tab" tabindex="0">
                                    <app-copyright></app-copyright>
                                </div>
                                <div class="tab-pane fade p-0 border-0" id="discussions-tab-pane" role="tabpanel"
                                    aria-labelledby="gallery-tab" tabindex="0">
                                    <app-discussions></app-discussions>
                                </div>
                                <div class="tab-pane fade p-0 border-0" id="timeline-tab-pane" role="tabpanel"
                                    aria-labelledby="gallery-tab" tabindex="0">
                                    <app-timeline></app-timeline>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::app-content -->