<div id="post-{{panel.post.id}}">
    <div *ngIf="panel.post.article" class="card card-post w-100 shadow-xss rounded-xxl border-0 p-2" style="width: 100% !important;">
        @for (file of panel.post.files; track $index) {
        <a *ngIf="file.type=='png'" (click)="reloadComponent(false, panel.post.link)" class="rounded-xxl"
            style="object-fit: cover; margin-top: -8px; margin-left: -8px; margin-right: -8px; cursor: pointer;">
            <img [src]="file.path| image | async" class="card-img-top rounded-xxl image-fit-top" alt="">
        </a>
        }
    
        <div class="card-body" style="text-align: center !important; width: 100%;">
            <a (click)="reloadComponent(false, panel.post.link)" style="text-align: center !important; width: 100%;"
                class="fw-medium fs-18 text-dark mb-1">{{panel.post.article.title}}</a>
            <p style="text-align: center;" class="card-text text-muted mb-3">{{panel.post.article.subject}}</p>
            <button (click)="reloadComponent(false, panel.post.link)" class="btn btn-primary btn-sm">Read More</button>
        </div>
        <div class="rounded-xxl card-footer card-footer-without-top">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a (click)="visitProfile(panel.post.user)" class="avatar avatar-sm avatar-rounded me-2 pointer">
                        <img [src]="getProfilePicture(panel.post.user) | image | async" alt="">
                    </a>
                    <div>
                        <a (click)="visitProfile(panel.post.user)" class="mb-0 fw-medium pointer">{{panel.post.article.author}}</a>
                        <p class="text-muted fs-11 mb-0">{{panel.post.date | timeAgo}}</p>
                    </div>
                </div>
                <div *ngIf="showButtons" class="btn-list">
                    <button *ngIf="!panel.powered" (click)="power(panel)" aria-label="button" type="button"
                        class="btn btn-icon btn-light m-1" matTooltip="Give me power"><i class="bi bi-lightning-fill"></i></button>
                    <button *ngIf="panel.powered" (click)="unpower(panel)" aria-label="button" type="button"
                        class="btn btn-primary btn-icon m-1" matTooltip="Unpower me"><i class="bi bi-lightning-fill yellow-color"></i></button>
                    <button *ngIf="!panel.endorsed" (click)="openEndorse()" aria-label="button" matTooltip="Endorse me" type="button" class="btn btn-icon btn-light m-1">
                        <img class="endorse-button" src="./../../../assets/images/logo-black.svg">
                    </button>
                    <button *ngIf="panel.endorsed" aria-label="button" type="button" class="btn btn-icon btn-light m-1 btn-primary">
                        <img class="endorse-button" src="./../../../assets/images/logo-yellow.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="panel.post.idea" style="width: 100% !important;"
        class="card card-post w-100 shadow-xss rounded-xxl border-0 p-2">
        @for (file of panel.post.files; track $index) {
        <span *ngIf="file.type=='png'" class="rounded-xxl"
            style="object-fit: cover; margin-top: -8px; margin-left: -8px; margin-right: -8px;">
            <img [src]="file.path | image | async" class="card-img-top rounded-xxl image-fit-top" alt="">
        </span>
    
        <span *ngIf="file.type=='mp4'" class="rounded-xxl"
            style="object-fit: cover; margin-top: -8px; margin-left: -8px; margin-right: -8px;">
            <video controls="true" autoplay="true" loop="true" class="card-img-top rounded-xxl image-fit-top"
                style="object-fit: cover; width: 100%; height: 100%;">
                <source [src]="file.path | image | async" type="video/mp4" />
                Browser not supported
            </video>
        </span>
        }
    
        <div class="card-body">
            {{panel.post.idea.text}}
        </div>
    
        <div class="rounded-xxl card-footer card-footer-without-top">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a (click)="visitProfile(panel.post.user)" class="avatar avatar-sm avatar-rounded me-2 pointer">
                        <img [src]="getProfilePicture(panel.post.user) | image | async" alt="">
                    </a>
                    <div>
                        <a (click)="visitProfile(panel.post.user)" class="mb-0 fw-medium pointer">{{getName(panel.post.user)}}</a>
                        <p class="text-muted fs-11 mb-0">{{panel.post.date | timeAgo}}</p>
                    </div>
                </div>
                <div *ngIf="showButtons" class="btn-list">
                    <button *ngIf="!panel.powered" (click)="power(panel)" aria-label="button" type="button"
                        class="btn btn-icon btn-light m-1" matTooltip="Give me power"><i class="bi bi-lightning-fill"></i></button>
                    <button *ngIf="panel.powered" (click)="unpower(panel)" aria-label="button" type="button"
                        class="btn btn-primary btn-icon m-1" matTooltip="Unpower me"><i class="bi bi-lightning-fill yellow-color"></i></button>
                    <button *ngIf="!panel.endorsed" (click)="openEndorse()" aria-label="button" matTooltip="Endorse me" type="button" class="btn btn-icon btn-light m-1">
                        <img class="endorse-button" src="./../../../assets/images/logo-black.svg">
                    </button>
                    <button *ngIf="panel.endorsed" aria-label="button" type="button" class="btn btn-icon btn-light m-1 btn-primary">
                        <img class="endorse-button" src="./../../../assets/images/logo-yellow.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="panel.endorse" class="d-flex div-link">
        <img src="./../../../assets/images/link.svg" class="image-link" matTooltip="Endorsed">
    </div>
    
    <div *ngIf="panel.endorse" class="card card-post w-100 shadow-xss rounded-xxl border-0 p-2 endorse-link"> 
        <!-- <div class="card-body row p-0 m-0 pb-0">
            <div class="col-xl-12 p-0" style="margin-right: 0px; margin-left: auto;">
                <div *ngIf="panel.post.article" class="card card-post w-100 shadow-xss rounded-xxl border-0 p-2" style="width: 100% !important;">
                    @for (file of panel.endorse.post.files; track $index) {
                    <a *ngIf="file.type=='png'" (click)="reloadComponent(false, panel.endorse.post.link)" class="rounded-xxl"
                        style="object-fit: cover; margin-top: -8px; margin-left: -8px; margin-right: -8px; cursor: pointer;">
                        <img [src]="file.path| image | async" class="card-img-top rounded-xxl image-fit-top" alt="">
                    </a>
                    }
                
                    <div class="card-body" style="text-align: center !important; width: 100%;">
                        <a (click)="reloadComponent(false, panel.endorse.post.link)" style="text-align: center !important; width: 100%;"
                            class="fw-medium fs-18 text-dark mb-1">{{panel.endorse.post.article.title}}</a>
                        <p style="text-align: center;" class="card-text text-muted mb-3">{{panel.endorse.post.article.subject}}</p>
                        <button (click)="reloadComponent(false, panel.endorse.post.link)" class="btn btn-primary btn-sm">Read More</button>
                    </div>
                    <div class="card-footer rounded-xxl">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-sm avatar-rounded me-2">
                                    <img [src]="getProfilePicture(panel.endorse.post.user) | image | async" alt="">
                                </div>
                                <div>
                                    <p class="mb-0 fw-medium">{{panel.endorse.post.article.author}}</p>
                                    <p class="text-muted fs-11 mb-0">{{panel.endorse.post.date | timeAgo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div *ngIf="panel.endorse.post.idea" style="width: 100% !important;" class="card card-post w-100 shadow-xss rounded-xxl border-0 p-0 mb-0">
                    @for (file of panel.endorse.post.files; track $index) {
                    <span *ngIf="file.type=='png'" class="rounded-xxl"
                        style="object-fit: cover; margin-top: -8px; margin-left: -8px; margin-right: -8px;">
                        <img [src]="file.path | image | async" class="card-img-top rounded-xxl image-fit-top" alt="">
                    </span>
                
                    <span *ngIf="file.type=='mp4'" class="rounded-xxl"
                        style="object-fit: cover; margin-top: -8px; margin-left: -8px; margin-right: -8px;">
                        <video controls="true" autoplay="true" loop="true" class="card-img-top rounded-xxl image-fit-top"
                            style="object-fit: cover; width: 100%; height: 100%;">
                            <source [src]="file.path | image | async" type="video/mp4" />
                            Browser not supported
                        </video>
                    </span>
                    }
                
                    <div class="card-body">
                        {{panel.endorse.post.idea.text}}
                    </div>
                
                    <div class="card-footer rounded-xxl">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-sm avatar-rounded me-2">
                                    <img [src]="getProfilePicture(panel.endorse.post.user) | image | async" alt="">
                                </div>
                                <div>
                                    <p class="mb-0 fw-medium">{{getName(panel.endorse.post.user)}}</p>
                                    <p class="text-muted fs-11 mb-0">{{panel.endorse.post.date | timeAgo}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div *ngIf="panel.endorse.text && panel.endorse.text.length>0" class="card-body p-2">
            {{panel.endorse.text}}
        </div>
    
        <div class="rounded-xxl" [ngClass]="panel.endorse.text && panel.endorse.text.length>0 ? 'card-footer card-footer-without-top' : 'card-footer border-hide'">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a (click)="visitProfile(panel.endorse.user!)" class="avatar avatar-sm avatar-rounded me-2 pointer">
                        <img [src]="getProfilePicture(panel.endorse.user!) | image | async" alt="">
                    </a>
                    <div>
                        <a (click)="visitProfile(panel.endorse.user!)" class="mb-0 fw-medium pointer">{{getName(panel.endorse.user!)}}</a>
                        <p class="text-muted fs-11 mb-0">{{panel.endorse.date | timeAgo}}</p>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
</div>