
<app-header [profile]="profile"></app-header>

  <!-- Start::app-content -->
  <div class="main-content app-content">
    <div class="container-fluid">
      <!-- Start::row-2 -->
      <div class="row">
        <div class="col-lg-8">
          <div class="card custom-card">
            <div class="card-body">
              <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
                <div class="d-flex flex-wrap gap-2">
                  <div style="padding-top: 20px;">
                    <span class="avatar avatar-xxl avatar-rounded me-2">
                      <img [src]="profilePicture | image | async" alt="img">
                      <a *ngIf="isMe" (click)="f.click()" style="cursor: pointer;"
                        class="badge rounded-pill bg-primary avatar-badge"><i class="fe fe-plus"></i></a>
                      <input class="ion-hide" #f type="file" (change)="selectFile($event)" id="file-input"
                        accept="image/png, image/jpeg">
                    </span>
                  </div>
                  <div class="ms-3">
                    <h4 class="fw-medium mb-0 d-flex align-items-center"><a href="javascript:void(0);">{{profile.type=='Person' ? (profile.person!.name + ' ' + profile.person!.surname) : profile.company!.name}} <i
                          class="bi bi-check-circle-fill text-success fs-16" data-bs-toggle="tooltip"
                          title="Verified candidate"></i></a></h4>
                    <i class="bi bi-briefcase me-1"></i>{{profile.type=='Person' ? profile.person!.profession : 'Company'}}
                    <div class="d-flex flex-wrap gap-2 align-items-center fs-11 text-muted">
                      <p class="fs-11 mb-0">Ratings : </p>
                      <div class="min-w-fit-content ms-2">
                        <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                        <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                        <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                        <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                        <span class="text-warning"><i class="bi bi-star-half"></i></span>
                      </div>
                      <a href="javascript:void(0);" class="ms-1 min-w-fit-content text-muted">
                        <span>(142)</span>
                        <span>Ratings</span>
                      </a>
                    </div>
                    <div class="d-flex fs-14 mt-3">
                      <div>
                        <p class="mb-1"><i class="bi bi-geo-alt me-2"></i>Banglore, Karnataka</p>
                        <p><i class="bi bi-briefcase me-2"></i>1 Year Experience</p>
                      </div>
                      <div class="ms-4">
                        <p class="mb-1"><i class="bi bi-coin me-2"></i>Package (Yearly) : <span class="fw-medium"
                            data-bs-toggle="tooltip" title="Current Salary">$10,000</span> - <span class="fw-medium"
                            data-bs-toggle="tooltip" title="Expected Salary">$20,000</span></p>
                        <p><i class="bi bi-mortarboard me-2"></i>Graduate</p>
                      </div>
                    </div>
                    <div class="popular-tags">
                      <a href="javascript:void(0);" class="badge rounded-pill bg-info-transparent"><i
                          class="bi bi-moon-stars me-1"></i>Full Time</a>
                      <a href="javascript:void(0);" class="badge rounded-pill bg-danger-transparent"><i
                          class="bi bi-clock me-1"></i> Immediate Joinee</a>
                    </div>
                  </div>
                </div>
                <div class="btn-list">
                  <button *ngIf="!isMe && !followed" (click)="follow()" style="max-width: 100px; width: 100px; max-height: 36px; height: 36px; font-size: x-small;" class="btn btn-primary custom-button rounded-pill">
                    <span class="custom-btn-icons"><i class="bi bi-person-plus-fill text-primary"></i></span>
                    Follow
                  </button>

                  <button *ngIf="!isMe && followed" (click)="unfollow()" style="max-width: 100px; width: 100px; max-height: 36px; height: 36px; font-size: x-small;" class="btn btn-danger custom-button rounded-pill">
                    <span class="custom-btn-icons"><i class="bi bi-person-dash-fill text-danger"></i></span>
                    Unfollow
                  </button>

                  <a href="javascript:void(0);" class="btn btn-icon btn-primary-light btn-wave">
                    <i class="ri-heart-line fs-13"></i>
                  </a>
                  <a href="javascript:void(0);" class="btn btn-icon btn-primary-light btn-wave">
                    <i class="ri-share-line"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <app-posts [user]="profile" [feedOnlyThisUser]="true"></app-posts>
        </div>
        <div class="col-lg-4">
          <div class="card custom-card">
            <div class="card-header">
              <div class="card-title">
                Skills
              </div>
            </div>
            <div class="card-body">
              <div class="popular-tags">
                <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">HTML</a>
                <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">CSS</a>
                <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">Javascript</a>
                <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">Angular</a>
                <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">React</a>
              </div>
            </div>
          </div>
          <div class="card custom-card overflow-hidden">
            <div class="card-header">
              <div class="card-title">
                Tools Used
              </div>
            </div>
            <div class="card-body d-flex flex-wrap gap-2">
              <span class="avatar me-2 avatar-rounded bg-white shadow-sm border p-2">
                <img src="../assets/images/company-logos/1.png" alt="">
              </span>
              <span class="avatar me-2 avatar-rounded bg-white shadow-sm border p-2">
                <img src="../assets/images/company-logos/2.png" alt="">
              </span>
              <span class="avatar me-2 avatar-rounded bg-white shadow-sm border p-2">
                <img src="../assets/images/company-logos/3.png" alt="">
              </span>
              <span class="avatar me-2 avatar-rounded bg-white shadow-sm border p-2">
                <img src="../assets/images/company-logos/4.png" alt="">
              </span>
              <span class="avatar me-2 avatar-rounded bg-white shadow-sm border p-2">
                <img src="../assets/images/company-logos/5.png" alt="">
              </span>
              <span class="avatar avatar-rounded bg-white shadow-sm border p-2">
                <img src="../assets/images/company-logos/6.png" alt="">
              </span>
            </div>
          </div>
          <div class="card custom-card">
            <div class="card-header">
              <div class="card-title">
                Languages
              </div>
            </div>
            <div class="card-body">
              <p><span class="fw-medium">English : </span>Fluent</p>
              <p><span class="fw-medium">Hindi : </span>Intermediate</p>
              <p class="mb-0"><span class="fw-medium">Telugu : </span>Expert</p>
            </div>
          </div>
          <div class="card custom-card overflow-hidden" *ngIf="profile.type=='Person'">
            <div class="card-header">
              <div class="card-title">
                Personal Information
              </div>
            </div>
            <div class="card-body p-2">
              <div class="table-responsive">
                <table class="table table-responsive table-borderless">
                  <tbody>
                    <tr>
                      <td class="w-50">
                        <span class="fw-medium">Full Name</span>
                      </td>
                      <td>{{profile.type=='Person' ? (profile.person!.name + ' ' + profile.person!.surname) : profile.company!.name}}</td>
                    </tr>
                    <tr>
                      <td class="w-50">
                        <span class="fw-medium">Email</span>
                      </td>
                      <td>{{profile.email}}</td>
                    </tr>
                    <tr>
                      <td class="w-50">
                        <span class="fw-medium">Birthday</span>
                      </td>
                      <td>{{profile.person!.birth}}</td>
                    </tr>
                    <tr>
                      <td class="w-50">
                        <span class="fw-medium">Gender</span>
                      </td>
                      <td>{{profile.person!.gender}}</td>
                    </tr>
                    <tr>
                      <td class="w-50">
                        <span class="fw-medium">Mobile </span>
                      </td>
                      <td>{{profile.phone}}</td>
                    </tr>
                    <tr>
                      <td class="w-50">
                        <span class="fw-medium">Mother Tongue</span>
                      </td>
                      <td>English</td>
                    </tr>
                    <tr>
                      <td class="w-50">
                        <span class="fw-medium">Address </span>
                      </td>
                      <td>{{profile.streetLine1}} {{profile.streetLine2!='' ? (',' + profile.streetLine2) : ''}}, {{profile.city}}, {{profile.state}}, {{profile.country}} ({{profile.postalCode}})</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex align-items-center">
                <p class="fs-15 mb-0 me-4 fw-medium">Social :</p>
                <div class="btn-list mb-0">
                  <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light mb-xxl-0">
                    <i class="ri-facebook-line"></i>
                  </button>
                  <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light mb-xxl-0">
                    <i class="ri-twitter-line"></i>
                  </button>
                  <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light mb-xxl-0">
                    <i class="ri-instagram-line"></i>
                  </button>
                  <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light mb-xxl-0">
                    <i class="ri-github-line"></i>
                  </button>
                  <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light mb-xxl-0">
                    <i class="ri-youtube-line"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card custom-card">
            <div class="card-body">
              <div class="">
                <h5 class="fw-medium mb-3">Get Latest Alerts</h5>
                <p>Latest candidate updates on the go to recieved direct to your email. Stay updated with your latest
                  new candidates list.</p>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Email Here" aria-label="blog-email"
                    aria-describedby="blog-subscribe">
                  <button class="btn btn-primary" type="button" id="blog-subscribe">Subscribe</button>
                </div>
                <label class="form-check-label">
                  By Subscribing you accept to <a href="javascript:void(0);" class="text-success"><u>privacy
                      policy</u></a>
                </label>
              </div>
            </div>
          </div>
          <div>
            <h4 class="fw-medium mb-0">Related Profiles</h4>
            <p class="">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <div class="swiper swiper-related-jobs">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card custom-card">
                    <div class="card-body">
                      <div class="d-flex mb-3 align-items-center flex-wrap gap-2">
                        <div>
                          <span class="avatar avatar-lg avatar-rounded">
                            <img src="../assets/images/faces/1.jpg" alt="">
                          </span>
                        </div>
                        <div class="flex-fill">
                          <h5 class="fw-medium mb-0 d-flex align-items-center"><a href="javascript:void(0);"> Brenda
                              Simpson <i class="bi bi-check-circle-fill text-success fs-16" data-bs-toggle="tooltip"
                                title="Verified candidate"></i></a></h5>
                          <div class="d-flex gap-2">
                            <a href="javascript:void(0);">Software Developer</a>
                            <p class="mb-0 fs-12 text-muted"><i class="bi bi-geo-alt fs-11"></i> Kondapur, Hyderabad</p>
                          </div>
                          <div class="d-flex align-items-center fs-12 text-muted">
                            <p class="fs-12 mb-0">Ratings : </p>
                            <div class="min-w-fit-content ms-2">
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-half"></i></span>
                            </div>
                            <a href="javascript:void(0);" class="ms-1 min-w-fit-content text-muted">
                              <span>(142)</span>
                              <span>Ratings</span>
                            </a>
                          </div>
                        </div>
                        <div class="btn-list">
                          <a href="javascript:void(0);"
                            class="avatar avatar-sm avatar-rounded bg-primary text-fixed-white" data-bs-toggle="tooltip"
                            data-bs-placement="top" aria-label="Download Resume" title="Download Resume"><span><i
                                class="ri-download-2-line fs-13 align-middle"></i></span></a>
                          <a href="javascript:void(0);" class="avatar avatar-sm avatar-rounded bg-light text-default"
                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Add to Wishlist"
                            title="Add to Wishlist"><span><i class="ri-heart-line fs-13 align-middle"></i></span></a>
                          <a href="javascript:void(0);" class="avatar avatar-sm avatar-rounded bg-light text-default"
                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View Profile"
                            title="View Profile"><span><i class="ri-eye-line fs-13 align-middle"></i></span></a>
                        </div>
                      </div>
                      <div class="popular-tags">
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-mortarboard text-muted me-1"></i> Graduate</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-moon-stars text-muted me-1"></i> flexible-shift</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-clock text-muted me-1"></i> Immediate Joinee</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-broadcast text-muted me-1"></i> Good at English</a>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="d-flex align-items-center gap-3 flex-wrap">
                        <h6 class="mb-0 fw-medium">Skills :</h6>
                        <div class="popular-tags flex-grow-1">
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">HTML</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">CSS</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">Javascript</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">Angular</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-primary-transparent"><i
                              class="bi bi-plus"></i> More</a>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="badge badge-md rounded-pill bg-info-transparent"
                            data-bs-toggle="tooltip" title="1 year bond accepted"><i
                              class="bi bi-hand-thumbs-up me-1"></i>1 year bond accepted</a>
                          <a href="javascript:void(0);" class="badge badge-md rounded-pill bg-primary-transparent"><i
                              class="bi bi-briefcase me-1"></i>Exp : 2 Years</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card custom-card">
                    <div class="card-body">
                      <div class="d-flex mb-3 align-items-center flex-wrap gap-2">
                        <div>
                          <span class="avatar avatar-lg avatar-rounded">
                            <img src="../assets/images/faces/3.jpg" alt="">
                          </span>
                        </div>
                        <div class="flex-fill">
                          <h5 class="fw-medium mb-0 d-flex align-items-center"><a href="javascript:void(0);"> Dwayne
                              Stort <i class="bi bi-check-circle-fill text-success fs-16" data-bs-toggle="tooltip"
                                title="Verified candidate"></i></a></h5>
                          <div class="d-flex gap-2">
                            <a href="javascript:void(0);">Web Developer</a>
                            <p class="mb-0 fs-12 text-muted"><i class="bi bi-geo-alt fs-11"></i> Gachibowli, Hyderabad
                            </p>
                          </div>
                          <div class="d-flex align-items-center fs-12 text-muted">
                            <p class="fs-12 mb-0">Ratings : </p>
                            <div class="min-w-fit-content ms-2">
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star"></i></span>
                              <span class="text-warning"><i class="bi bi-star"></i></span>
                            </div>
                            <a href="javascript:void(0);" class="mb-0 ms-1 min-w-fit-content text-muted">
                              <span>(35)</span>
                              <span>Ratings</span>
                            </a>
                          </div>
                        </div>
                        <div class="btn-list">
                          <a href="javascript:void(0);"
                            class="avatar avatar-sm avatar-rounded bg-primary text-fixed-white" data-bs-toggle="tooltip"
                            data-bs-placement="top" aria-label="Download Resume" title="Download Resume"><span><i
                                class="ri-download-2-line fs-13 align-middle"></i></span></a>
                          <a href="javascript:void(0);" class="avatar avatar-sm avatar-rounded bg-light text-default"
                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Add to Wishlist"
                            title="Add to Wishlist"><span><i class="ri-heart-line fs-13 align-middle"></i></span></a>
                          <a href="javascript:void(0);" class="avatar avatar-sm avatar-rounded bg-light text-default"
                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View Profile"
                            title="View Profile"><span><i class="ri-eye-line fs-13 align-middle"></i></span></a>
                        </div>
                      </div>
                      <div class="popular-tags">
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-mortarboard text-muted me-1"></i> Post Graduate</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-moon-stars text-muted me-1"></i> flexible-shift</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-clock text-muted me-1"></i> Within 10 Days</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-broadcast text-muted me-1"></i> Good at English</a>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="d-flex align-items-center gap-3 flex-wrap">
                        <h6 class="mb-0 fw-medium">Skills :</h6>
                        <div class="popular-tags flex-grow-1">
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">React</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">Javascript</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">React
                            Navtive</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-primary-transparent"><i
                              class="bi bi-plus"></i> More</a>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="badge badge-md rounded-pill bg-info-transparent"
                            data-bs-toggle="tooltip" title="1 year bond accepted"><i
                              class="bi bi-hand-thumbs-up me-1"></i>2 years bond accepted</a>
                          <a href="javascript:void(0);" class="badge badge-md rounded-pill bg-primary-transparent"><i
                              class="bi bi-briefcase me-1"></i>Exp : 4 Years</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card custom-card">
                    <div class="card-body">
                      <div class="d-flex mb-3 align-items-center flex-wrap gap-2">
                        <div>
                          <span class="avatar avatar-lg avatar-rounded">
                            <img src="../assets/images/faces/21.jpg" alt="">
                          </span>
                        </div>
                        <div class="flex-fill">
                          <h5 class="fw-medium mb-0 d-flex align-items-center"><a href="javascript:void(0);"> Jasmine
                              Kova <i class="bi bi-check-circle-fill text-success fs-16" data-bs-toggle="tooltip"
                                title="Verified candidate"></i></a></h5>
                          <div class="d-flex gap-2">
                            <a href="javascript:void(0);">Python Developer</a>
                            <p class="mb-0 fs-12 text-muted"><i class="bi bi-geo-alt fs-11"></i> Gachibowli, Chennai</p>
                          </div>
                          <div class="d-flex align-items-center fs-12 text-muted">
                            <p class="fs-12 mb-0">Ratings : </p>
                            <div class="min-w-fit-content ms-2">
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                              <span class="text-warning"><i class="bi bi-star"></i></span>
                              <span class="text-warning"><i class="bi bi-star"></i></span>
                            </div>
                            <a href="javascript:void(0);" class="mb-0 ms-1 min-w-fit-content text-muted">
                              <span>(56)</span>
                              <span>Ratings</span>
                            </a>
                          </div>
                        </div>
                        <div class="btn-list">
                          <a href="javascript:void(0);"
                            class="avatar avatar-sm avatar-rounded bg-primary text-fixed-white" data-bs-toggle="tooltip"
                            data-bs-placement="top" aria-label="Download Resume" title="Download Resume"><span><i
                                class="ri-download-2-line fs-13 align-middle"></i></span></a>
                          <a href="javascript:void(0);" class="avatar avatar-sm avatar-rounded bg-light text-default"
                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Add to Wishlist"
                            title="Add to Wishlist"><span><i class="ri-heart-line fs-13 align-middle"></i></span></a>
                          <a href="javascript:void(0);" class="avatar avatar-sm avatar-rounded bg-light text-default"
                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View Profile"
                            title="View Profile"><span><i class="ri-eye-line fs-13 align-middle"></i></span></a>
                        </div>
                      </div>
                      <div class="popular-tags">
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-mortarboard text-muted me-1"></i> MBA</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-moon-stars text-muted me-1"></i> Day-shift</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-clock text-muted me-1"></i> Within 30 Days</a>
                        <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default"><i
                            class="bi bi-broadcast text-muted me-1"></i> Avg at English</a>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="d-flex align-items-center gap-3 flex-wrap">
                        <h6 class="mb-0 fw-medium">Skills :</h6>
                        <div class="popular-tags flex-grow-1">
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">Python</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">Java</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-light text-default">React</a>
                          <a href="javascript:void(0);" class="badge rounded-pill bg-primary-transparent"><i
                              class="bi bi-plus"></i> More</a>
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="badge badge-md rounded-pill bg-primary-transparent"><i
                              class="bi bi-briefcase me-1"></i>Exp : 5 Years</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End::row-2 -->

    </div>
  </div>
  <!-- End::app-content -->
